@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right, #0196D6, #6B10E6, #0C2CED);
    
}
main {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow:  #081d94be;
    padding: 10px;
    margin: auto;

}
h1 {
    color: #0CEDAF ;
    text-align: center;
    text-shadow: 1px 1px 0px #08926bb9;
}
h2 {   
    color: #6B10E6  ;

}
p {
    
    text-align: justify;
}