@charset "UTF-8";

@media print {
    body {
        background-image: url(../imagens/back-print.jpg);
    }
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    main {
        border: 2px solid black ;
    }
    main::after {
        content: 'é tricolor';
        text-decoration: overline;
    }
    main h1 {
        text-shadow: none;
        color: black;
    }
    img#c1{display: none;}
    img#t1 {display: none;}
    img#i1 {display: none}
    img#pc1{display: block;}
    img#tv1{display: none;}
}
@media screen and (min-width: 768px) and (max-width: 992px) { 
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    main, h1 {
        text-shadow: none;
        color: black;
    }

img#c1{display: none;}
img#t1 {display: block;}
img#i1 {display: none}
img#pc1{display: none;}
img#tv1{display: none;}
}


@media screen and (min-width: 992px) and (max-width: 1200px){
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
img#c1{display: none;}
img#t1 {display: none;}
img#i1 {display: none}
img#pc1{display: block;}
img#tv1{display: none;}

}
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    main {
        width: 700px;
    }
img#c1{display: none;}
img#t1 {display: none;}
img#i1 {display: none}
img#pc1{display: none;}
img#tv1{display: block;}

}